pariksha/venv/pyvenv.cfg
pariksha/venv/Scripts/activate
pariksha/venv/Scripts/activate.bat
pariksha/venv/Scripts/Activate.ps1
pariksha/venv/Scripts/celery.exe
pariksha/venv/Scripts/csv2ods
pariksha/venv/Scripts/deactivate.bat
pariksha/venv/Scripts/django-admin.exe
pariksha/venv/Scripts/django-admin.py
pariksha/venv/Scripts/gunicorn.exe
pariksha/venv/Scripts/mailodf
pariksha/venv/Scripts/odf2mht
pariksha/venv/Scripts/odf2xhtml
pariksha/venv/Scripts/odf2xml
pariksha/venv/Scripts/odfimgimport
pariksha/venv/Scripts/odflint
pariksha/venv/Scripts/odfmeta
pariksha/venv/Scripts/odfoutline
pariksha/venv/Scripts/odfuserfield
pariksha/venv/Scripts/pip.exe
pariksha/venv/Scripts/pip3.10.exe
pariksha/venv/Scripts/pip3.11.exe
pariksha/venv/Scripts/pip3.exe
pariksha/venv/Scripts/python.exe
pariksha/venv/Scripts/pythonw.exe
pariksha/venv/Scripts/runxlrd.py
pariksha/venv/Scripts/sqlformat.exe
pariksha/venv/Scripts/xml2odf
pariksha/venv/static/celery_progress/celery_progress.js
pariksha/venv/static/celery_progress/websockets.js
