{% extends "challenge/base.html" %} {% block content %} {% if user.is_authenticated %}
<section class="available_tests" data-tab="emoji">
    <div class="table_content_wrapper">
        <div class="table_head_content_wrapper">
            <h4 class="p-customize_emoji_wrapper__count large_bottom_margin inline_block black">{{ test_count }} Tests available</h4>
            {% if user.is_superuser %}
            <div class="table_action_buttons">
                <a href="{% url 'create_contest'%}">
                    <button class="positive_button pariksha_button">Create Contenst</button>
                </a>
            </div>
            {% else %}
            <div class="table_action_buttons">
                <h5 class="p-customize_emoji_wrapper__count large_bottom_margin inline_block black">Find your test below</h5>
            </div>
            {% endif %}
        </div>
        <div class="search_bar_wrapper">
            <span class="search_icon"><i id="search_icon" class="material-icons">
                    search
                </i></span>
            <input type="text" id="search_box" onkeyup="myFunction()" placeholder="Search by test name">
        </div>
        <div class="table_main_content_wrapper" id="table_wrapper">
            <div class="list_element_wrapper">
                <table id="myTable">
                    <thead class="header_row">
                        <tr>
                            <th>Test id</th>
                            <th>Test Name</th>
                            <th>Status</th>
                            <th>Date</th>
                            <th>Duration</th>
                            <th>College</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody class="main_table_records">
                        {% for test in challenges %}
                        <tr id="{{test.id}}">
                            <td>{{ test.id }}</td>
                            <td>{{ test.Title }}</td>
                            {% if test.Active %}
                            <td class="active">Active</td>
                            {% else %}
                            <td class="expired">Expired</td>
                            {% endif %}
                            <td>{{ test.Date }}</td>
                            <td>{{ test.Test_Duration }} mins</td>
                            <td>{{test.College}}</td>
                            <td><button type="button" data-contestid="{{test.id}}" class="delete_buttons" style="margin-right:1rem;">Delete</button></td>
                            <td><a href="{% url 'contest_edit_form' contest_id=test.id %}"><button  class="positive_button">Edit Contest</button></a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>

<!-- DivTable.com -->

<div>
    <script type="text/javascript">
        $('.delete_buttons').on('click', function() {
            var contest_id = $(this).attr('data-contestid');
            $.confirm({
                title: 'Confirm!',
                content: 'Are you sure you want to delete the contest?',
                buttons: {
                    delete: function() {
                        deleteContest(contest_id);
                        $.alert('Deleted!');
                    },
                    cancel: function() {
                        $.alert('Canceled!');
                    },
                    // somethingElse: {
                    //     text: 'Something else',
                    //     btnClass: 'btn-blue',
                    //     keys: [
                    //         'enter',
                    //         'shift'
                    //     ],
                    //     action: function(){
                    //         this.$content // reference to the content
                    //         $.alert('Something else?');
                    //     }
                    // }
                }
            });
        });

        function deleteContest(test_id) {
            var ajaxMins = new Date().getMinutes();
            var ajaxSecs = new Date().getSeconds();
            var ajaxMS = new Date().getMilliseconds();
            $.ajax({

                type: 'POST',
                url: '',
                dataType: 'json',
                cache: false,
                async: true,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    contest_id: test_id,
                },
                success: function(json) {

                    document.getElementById(test_id).style.display = "none";
                    const myNotification = window.createNotification({});
                    myNotification({
                        title: 'Deleted',
                        message: json.msg
                    });

                    myNotification({

                        // close on click
                        closeOnClick: true,

                        // displays close button
                        displayCloseButton: false,

                        // nfc-top-left
                        // nfc-bottom-right
                        // nfc-bottom-left
                        positionClass: 'nfc-top-right',

                        // callback
                        onclick: false,

                        // timeout in milliseconds
                        showDuration: 9500,

                        // success, info, warning, error, and none
                        theme: 'error'

                    });

                },

                statusCode: {
                    500: function() {}
                },
            }).done(function() {
                var ajaxMins2 = new Date().getMinutes() - ajaxMins;
                var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
                var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
                console.log(ajaxSecs2, " seconds");
            });
        }

        function myFunction() {
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("search_box");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }

        }
    </script>

    {% else %}
    <div class="row mt-3">

        <div class="col-lg-4 col-md-6">
            <div class="mb-2 alert alert-info" role="alert">
                <h4>Please Register to take the test</h4>
                <p>Click here to <a href="{% url 'challenge_register' %}">Register</a>
            </div>
        </div>
    </div>
    {% endif %} {% endblock content %}