{% extends "challenge/base.html" %} {% block content %}
{% load crispy_forms_tags %}
<style>
    .pretty.p-switch .state:before {
        height: 1rem;
    }
</style>
{% if user.is_authenticated %}
<div class="model_form_outer_wrapper">
    <div class="header_wrapper">
        <div class="model_form_title">
            <h1>Create {{model_name}}</h1>
            <p class="Description_para">Host this contest on pariksha and allow users to take the test.</p>
            <p class="Description_para italic">Get started by providing the initial details for your contest.</p>
        </div>
        <div class="header_description"></div>
    </div>
    <form method="POST" id="form">
        {% csrf_token %}
        <div class="model_form_main_wrapper">
            <section class="model_form_section">
                <div class="label_field_wrapper">
                    <label for="{{form.Title.name}}">Title</label>
                    {{form.Title}}
                </div>
                {% if form.Title.errors %}
                {% for error in form.Title.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_title_error" class="form_error"><strong></strong></p>
                <div class="label_field_wrapper">
                    <label for="{{form.Slug.name}}">Slug</label>
                    {{form.Slug}}
                </div>
                {% if form.Slug.errors %}
                {% for error in form.Slug.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_slug_error" class="form_error"><strong></strong></p>
                <div class="label_field_wrapper">
                    <label for="{{form.Description.name}}">Description</label>
                    {{form.Description}}
                </div>

                {% if form.Description.errors %}
                {% for error in form.Description.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_description_error" class="form_error"><strong></strong></p>
                <div class="label_field_wrapper">
                    <label for="{{form.Duration.name}}">Duration</label>
                    {{form.Test_Duration}}
                </div>
                {% if form.Duration.errors %}
                {% for error in form.Duration.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_duration_error" class="form_error"><strong></strong></p>
                <div class="label_field_wrapper">
                    <label for="form.College.name">College</label>
                    {{form.College}}
                </div>
                {% if form.College.errors %}
                {% for error in form.College.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_college_error" class="form_error"><strong></strong></p>
                <div class="label_field_wrapper">
                    <label for="form.College.name">Date</label>
                    {{form.Date}}
                </div>
                {% if form.Date.errors %}
                {% for error in form.Date.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                <p id="contest_date_error" class="form_error"><strong></strong></p>


                <div class="label_field_wrapper">
                    <label for="name">Active</label>
                    <div class="pretty p-switch p-fill">

                        {{form.Active }}
                        <div class="state p-success">
                            <label></label>
                        </div>

                    </div>


                </div>

                {% if form.Active.errors %}
                {% for error in form.Active.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}
                {{form.contest_questions}}
                <p id="contest_active_error" class="form_error"><strong></strong></p>
                {% if form.contest_questions.errors %}
                {% for error in form.contest_questions.errors %}
                <p class="form_error"><strong>{{ error|escape }}</strong></p>
                {% endfor %}
                {% endif %}

                <div class="footer_form_button floater_right">
                    <a id= "contest_edit_link" href="">
                        <button type="button" id = "contest_edit_link" onclick="window.location.href = 'https://w3docs.com';" class="positive_button">Edit</button>
                    </a>
                    <button id="save_btn" class="positive_button" onclick="formAsyncSave()" type="button">
                        Next
                    </button>
                </div>
            </section>
        </div>
    </form>
    <div class="qfooter_form_button">
       
    </div>
    <div class="section collapsible">
        <div class="bank_and_contestq_wrapper">
            <div class="question_container">
                <div class="question_container_header">
                    <h4>Contest Questions</h4>
                    <div class="floater_right">
                        <button type="button" class="negative_button">Clear all questions</button>
                    </div>
                </div>
                <div class="selected_question_list_container">

                    <div class="question_list_body" id="selected_question_container">
                    </div>
                </div>
                <div class="qfooter_form_button">
                    <button id="save_btn_q" class="positive_button" onclick="ContestQuestionAsyncSave()" type="button">
                        Save
                    </button>
                </div>
            </div>
            <div class="existing_question_bank_list">
                <div class="question_container_header">
                    <h4>Questions Bank</h4>
                    <div class="floater_right">
                        <button type="button" class="start_active">Create Question</button>
                    </div>
                </div>
                <div class="question_list_body" id="question_bank_container">
                    {% for question in question_bank %}
                    <div class="list_element_wrap" data-mainid="{{question.id}}" id="question_{{question.id}}"
                        data-state="not_selected">
                        <div class="questions_list_item">
                            <div class="question_id">
                                {{question.id}}
                            </div>
                            <div class="question_name">
                                {{question.Title}}
                            </div>
                        </div>

                        <div class="add_button">
                            <button type="button" class="positive_button"
                                onclick="add_question('question_{{question.id}}')">Add</button>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>

    </div>
    <div class="qfooter_form_button">
        <a href="{% url 'tests' %}">
            <button type="button" class="positive_button">Done</button>
        </a>
    </div>
</div>
    <script>
        // This is the important part!
        var edit_contest_url;
        function collapseSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;

            // temporarily disable all css transitions
            var elementTransition = element.style.transition;
            element.style.transition = '';

            // on the next frame (as soon as the previous style change has taken effect),
            // explicitly set the element's height to its current pixel height, so we 
            // aren't transitioning out of 'auto'
            requestAnimationFrame(function () {
                element.style.height = sectionHeight + 'px';
                element.style.transition = elementTransition;

                // on the next frame (as soon as the previous style change has taken effect),
                // have the element transition to height: 0
                requestAnimationFrame(function () {
                    element.style.height = 0 + 'px';
                });
            });

            // mark the section as "currently collapsed"
            element.setAttribute('data-collapsed', 'true');
        }

        function expandSection(element) {
            // get the height of the element's inner content, regardless of its actual size
            var sectionHeight = element.scrollHeight;

            // have the element transition to the height of its inner content
            element.style.height = sectionHeight + 'px';

            // when the next css transition finishes (which should be the one we just triggered)
            element.addEventListener('transitionend', function (e) {
                // remove this event listener so it only gets triggered once
                element.removeEventListener('transitionend', arguments.callee);

                // remove "height" from the element's inline styles, so it can return to its initial value
                element.style.height = null;
            });

            // mark the section as "currently not collapsed"
            element.setAttribute('data-collapsed', 'false');
        }
        /***********************************************/
        function sleep(milliseconds) {
            const date = Date.now();
            let currentDate = null;
            do {
                currentDate = Date.now();
            } while (currentDate - date < milliseconds);
        }
        var section = document.querySelector('.section.collapsible');
       
        window.onload = function () {
            document.getElementById('selected_question_id_string').value = '';
            $('#save_btn_loader').hide();

            var isCollapsed = section.getAttribute('data-collapsed') === 'true';
            collapseSection(section);
            
            var edit_button_link = document.getElementById('contest_edit_link');
            edit_button_link.style.display = "none";

        };
        function add_question(question_id) {
            var contest_questions = document.getElementById('selected_question_id_string');
            var selected_question = document.getElementById(question_id);
            var question_state = selected_question.getAttribute('data-state');
            console.log(question_state);
            if (question_state == 'not_selected') {
                var target_container = document.getElementById('selected_question_container');
                target_container.appendChild(selected_question);
                selected_question.setAttribute('data-state', 'selected');
                var button = selected_question.getElementsByTagName('button')[0];
                button.innerText = 'Remove';
                button.style.background = '#a71414';

                var curr_id = selected_question.getAttribute('data-mainid');
                contest_questions.value += curr_id + '|';
            }
            else if (question_state == 'selected') {
                var target_container = document.getElementById('question_bank_container');
                target_container.appendChild(selected_question);
                selected_question.setAttribute('data-state', 'not_selected');
                var button = selected_question.getElementsByTagName('button')[0];
                button.innerText = 'Add';
                button.style.background = '#06944d';
                var curr_id = selected_question.getAttribute('data-mainid');
                contest_questions.value = contest_questions.value.replace(curr_id + '|', '');
            }

        }
        var created_contest_id;
        function formAsyncSave() {
            $('#save_btn_loader').show();
            var save_button = document.getElementById('save_btn');
            save_button.innerText = 'Saving...';
            var ajaxMins = new Date().getMinutes();
            var ajaxSecs = new Date().getSeconds();
            var ajaxMS = new Date().getMilliseconds();
            var contest_Title = document.getElementById('id_Title').value;
            var contest_Slug = document.getElementById('id_Slug').value;
            var contest_Description = document.getElementById('text_editor').value;
            var contest_Duration = document.getElementById('id_Test_Duration').value;
            var contest_College = document.getElementById('id_College').value;
            var contest_Date = document.getElementById('id_Date').value;
            var contest_Active = document.getElementById('id_Active').checked;
            var active_error, college_error, duration_error, description_error, slug_error, title_error, date_error;

            active_error = document.getElementById('contest_active_error');
            college_error = document.getElementById('contest_college_error');
            duration_error = document.getElementById('contest_duration_error');
            date_error = document.getElementById('contest_date_error');
            description_error = document.getElementById('contest_description_error');
            slug_error = document.getElementById('contest_slug_error');
            title_error = document.getElementById('contest_title_error');


            $.ajax({

                type: 'POST',
                url: '',
                dataType: 'json',
                cache: false,
                async: true,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    contest: 'yes',
                    Title: contest_Title,
                    Slug: contest_Slug,
                    Description: contest_Description,
                    Test_Duration: contest_Duration,
                    College: contest_College,
                    Date: contest_Date,
                    Active: contest_Active,
                },
                success: function (json) {
                    if (json.errors == 'yes') {
                        slug_error.innerText = '';
                        title_error.innerText = '';
                        college_error.innerText = '';
                        date_error.innerText = '';
                        description_error.innerText = '';
                        active_error.innerText = '';
                        error_obj = json.form_errors;
                        var msg_err_map = {
                            'Slug': slug_error,
                            'Title': title_error,
                            'Description': description_error,
                            'Duration': duration_error,
                            'Test_Date': date_error,
                            'College': college_error,
                        }
                        jQuery.each(error_obj, function (i, val) {
                            msg_err_map[i].innerText = val;
                        });

                        save_button.setAttribute('saved_status', 'unsaved');

                        save_button.textContent = "Save";
                        $('#save_btn_loader').hide();
                    }
                    else {
                        slug_error.innerText = '';
                        title_error.innerText = '';
                        college_error.innerText = '';
                        date_error.innerText = '';
                        description_error.innerText = '';
                        active_error.innerText = '';
                        save_button.setAttribute('saved_status', 'saved');
                        save_button.disabled = true;
                        document.getElementById('id_Title').disabled = true;
                        document.getElementById('id_Slug').disabled = true;
                        document.getElementById('text_editor').disabled = true;
                        document.getElementById('id_Test_Duration').disabled = true;
                        document.getElementById('id_College').disabled = true;
                        document.getElementById('id_Date').disabled = true;
                        document.getElementById('id_Active').disabled = true;
                        current_contest_id = json.contest_id;
                        save_button.textContent = "Saved";
                        expandSection(section)
                        edit_contest_url = "/pariksha/modify/"+current_contest_id+"/contest";
                        var edit_button_link1 = document.getElementById('contest_edit_link');
                        edit_button_link1.style.display = "initial";
                        edit_button_link1.href = "{% url 'contest_edit_form' contest_id=12345 %}".replace(/12345/, current_contest_id.toString());
                        section.setAttribute('data-collapsed', 'false')

                    }

                },

                statusCode: {
                    500: function () {
                    }
                },
            }).done(function () {
                var ajaxMins2 = new Date().getMinutes() - ajaxMins;
                var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
                var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
                console.log(ajaxSecs2, " seconds");
                $('#save_btn_loader').hide();
            });

        }
        function edit_redirect(){
            window.location.href = edit_contest_url;
        }

        function ContestQuestionAsyncSave() {
            var save_button = document.getElementById('save_btn_q');
            var selected_question_list = [];
            $('#selected_question_container').find('div').each(function () {
                if ($(this).attr('data-mainid') != undefined) {
                    var innerDivId = $(this).attr('data-mainid');
                    selected_question_list.push(innerDivId);
                }

            });
            console.log(selected_question_list);
            $.ajax({

                type: 'POST',
                url: '',
                dataType: 'json',
                cache: false,
                async: true,
                data: {
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                    challenge_question: "yes",
                    list: selected_question_list,
                    contest_id: current_contest_id,
                },
                success: function (json) {
                    if (json.errors == 'yes') {
                        save_button.setAttribute('saved_status', 'unsaved');
                        save_button.textContent = "Save";
                        $('#save_btn_loader').hide();
                    }
                    else {

                        var remove_btns = document.querySelectorAll('#selected_question_container button.positive_button');
                        [].forEach.call(remove_btns, function (btn) {
                            btn.disabled = true;
                            btn.innerText = 'Saved';
                        });
                        document.querySelectorAll('#selected_question_container button.positive_button').innerText = "Saved";
                        save_button.setAttribute('saved_status', 'saved');
                        save_button.disabled = true;
                        save_button.textContent = "Saved";
                        expandSection(section)
                        section.setAttribute('data-collapsed', 'false')

                    }

                },

                statusCode: {
                    500: function () {
                    }
                },
            }).done(function () {
                var ajaxMins2 = new Date().getMinutes() - ajaxMins;
                var ajaxSecs2 = (new Date().getSeconds() % 60) - ajaxSecs;
                var ajaxMS2 = new Date().getMilliseconds() - ajaxMS;
                console.log(ajaxSecs2, " seconds");
                $('#save_btn_loader').hide();
            });
        }

    </script>
    {% endif %}
    {% endblock content %}