{% extends "challenge/base.html" %} {% block content %} {% load crispy_forms_tags %} {% load static %}
<style>
    .signup-image {
        background-image: url("{% static 'img/signup.jpg'%}");
        border-radius: inherit;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border-top-left-radius: 0px;
        border-bottom-left-radius: 0px;
    }
</style>
{% if user.is_authenticated %}
<div class="mb-2 alert alert-success" role="alert">
    Hey you are already registered for the test You can now go to available Tests and
    <a href="{% url 'tests'%}"><strong>Access the tests.</strong></a>
</div>
{% else %}


<section class="signup">
    <div class="signcontainer">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" class="register-form" id="register-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label> {{form.username}}

                    </div>
                    {% if form.username.errors %} {% for error in form.username.errors %}
                    <p class="form_error"><strong>{{ error|escape }}</strong></p>
                    {% endfor %} {% endif %}
                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label> {{form.email}}
                    </div>
                    {% if form.username.errors %} {% for error in form.email.errors %}
                    <p class="form_error"><strong>{{ error|escape }}</strong></p>
                    {% endfor %} {% endif %}
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label> {{form.password1}}
                    </div>
                    {% if form.password1.errors %} {% for error in form.password1.errors %}
                    <p class="form_error"><strong>{{ error|escape }}</strong></p>
                    {% endfor %} {% endif %}
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label> {{form.password2}}
                    </div>
                    {% if form.password2.errors %} {% for error in form.password2.errors %}
                    <p class="form_error"><strong>{{ error|escape }}</strong></p>
                    {% endfor %} {% endif %}
                    <div class="form-group form-button">
                        <input type="submit" name="signup" id="signup" class="form-submit" value="Register">
                    </div>
                </form>
            </div>

        </div>
        <div class="signup-image">
        </div>
    </div>
</section>
</div>
{% endif %}
<script>
</script>

{% endblock content %}