<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Raleway|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/content/pariksha_ace_editor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/content/pariksha_default.css' %}" />
    <link title="darkmode" rel="stylesheet" type="text/css" href="{% static 'challenge/content/darkmode.css' %}" disabled />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.4.7/ace.js" integrity="sha256-C7DTYRJLG+B/VEzHGeoPMw699nsTQYPAXHKXZb+q04E=" crossorigin="anonymous"></script>
    <script src="{% static 'challenge/scripts/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'challenge/scripts/ace.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/mode-java.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/mode-c_cpp.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/theme-monokai.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/theme-xcode.js' %}" type=" text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
    .gutter {
        cursor: e-resize;
        height: 100%;
        background-image: url({% static 'img/download.png' %});
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: ew-resize;
        background-color: #fafafa;
    }
</style>
<style>
    .pretty.p-switch .state:before {
        height: 1rem;
    }
</style>

<body>
    <div id="testpage_header">
        <div id="pariksha-logo" class="inline_block">
            <img src="{% static 'img/planful_pariksha.svg' %}" alt="Pariksha.com">
        </div>
        <div id="timer"></div>
        <div  class="right_section">
            <button id="finish_button" type="button">Finish test</button>
        </div>
    </div>
    <div class="contents-wrapper">
        <div class="fs-pains-container">
            <div id="left_pane" class="fs-left-pane split">
                <div class="left-pane-content-wrapper">
                    <div id="q_list" class="question__list_wrapper">
                        <div class="header_section_title">
                            <h2>Questions</h2>
                        </div>
                        <div class="leftpanel_header">
                            <div class="table_main_content_wrapper" id="table_wrapper">
                                <div class="list_element_wrapper">
                                    <ul class="question_change_list">
                                        
                        {% for q in questions %}
                                        <li id= "{{q.id}}"class="ql_item">{{q.Title}}</li>
                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                     </div>
                     {% for q in questions %}
                    <div id="question_{{q.id}}_id" class="question_content_wrapper">
                        <div class="question_title">{{q.Title}}</div>
                        <div class="description">
                            {{q.Description | safe }}
                        </div>
                    </div>
                    {% endfor %}
                   
                    
                </div>
                <div class="top_controller_bar">
                    <div class="right_section">
                        <button type="button" onclick="viewQuestionList()" class="change_q">Change Question</button>
                    </div>
                </div>

            </div>
                <div id="right_pane" class="fs-right-pane split">
                    <div id="top_section">
                        <div class="editor_section_header">
                            <div class="left_section">
                                <select onchange="selectLang()" id="languages">
                                    <option value="Java">Java</option>
                                    <option value="Python">Python 3</option>
                                    <option value="C">C</option>
                                    <option value="C++">C++</option>
                                    <option value="C#">C#</option>
                                </select>
                                
                                <i id="save_btn" status="saved" onclick="codeDraft()" class="material-icons">
                                    save
                                    </i>
                                <p class="p">Ctrl + S to save your code</p>
                                

                            </div>
                            <div class="right_section">
                                <div class="float_right">
                                    <i id='light_mode_icon' class="material-icons ld">
                                        wb_sunny
                                    </i>
                                    <div class="pretty p-switch p-fill">
                                        <input id="mode" type="checkbox" />
                                        <div class="state">
                                            <label></label>
                                        </div>
                                    </div>
                                    <i id='dark_mode_icon' class="material-icons ld">
                                        nights_stay
                                    </i>
                            </div>
                            </div>
                        </div>
                        <div class="editor_wrapper" id="ew">
                            <div class='code-editor' onscroll="editor.resize()" id='codeeditor'></div>
                        </div>
                    </div>
                    <div id="bottom_section" class="challenge-response fs-container ">
                        <div class="bottom_header_controller">
                            <div class="left_section">
                                <div id="testcases_pane" data="testcases_card" class="nav_btns">
                                    <div>
                                        <span class="navs">Testcases</span>
                                    </div>
                                </div>
                                <div id="custominput_pane" data="custom_input_card" class="nav_btns">
                                    <div>Custom Input</div>
                                </div>
                                <div  id="output_pane" data="output_card" class="nav_btns">
                                    <div>Output</div>
                                </div>
                            </div>
                            <div class="right_section">
                                <div>
                                    <button onclick="runCode()" class="run_button" type="button"><span class="span_button"><i id="run_icon"
                                                class="material-icons">
                                                play_arrow
                                            </i></span>Run</button>
                                </div>
                                <div>
                                    <button onclick="submitCode()" class="submit_button" type="button">Submit</button>
                                </div>
                                <div>
                                    <button id="console_collapse" style="transition:0.3s;" type="button"><i id="up_down"
                                            style="transition:0.3s;"
                                            class="material-icons">keyboard_arrow_down</i></button>
                                </div>
                            </div>
                        </div>
                        <div class="output-area-wrap ">
                            <div data="output" id="output_card" " class="response_cards">
                                <div id="main_output">
                                    <h4 status ="" id="status_message">Click on run to see the output</h4>
                                    <b id="type_msg"></b>
                                    <pre status="" id="output_result_pre"></pre>
                                </div>
                            </div>
                            <div id="loader" class="response_cards">
                                <div class="lds-roller">
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                    <div></div>
                                </div>
                            </div>
                            <div data="testcases" id="testcases_card" " class="response_cards">
                                TestCases
                            </div>
                            <div data="custom_input" id="custom_input_card" " class="response_cards">
                                Custom input
                                <textarea id="input"></textarea>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/split.js/dist/split.min.js "></script>
        <script>
        </script>
        <script >
            var csrf_token = '{{ csrf_token }}';
        </script>
        <script src="{% static 'challenge/scripts/testpage.js' %} "></script>
        <script src="{% static 'challenge/scripts/notifications.js' %} " type=" text/javascript "></script>

</body>

</html>