<!-- @format -->

{% extends "challenge/base.html" %} {% block content %} 
{% if user.is_authenticated %} {% load crispy_forms_tags %} {% load static %}

<div class="lrwrapper">
  <div class="left_section_ins">
    <h1 class="contest_title">Welcome to {{ challenge.Title }}</h1>
    <div class="duration_q_wrap">
      <div class="duration">
        <p>Test Duration</p>
        <div class="imp">{{challenge.Test_Duration}} mins</div>
      </div>
      <div class="noques">
        <p>No. of Questions</p>
        <div class="imp">{{question_count}} Questions</div>
      </div>
    </div>
  </div>
  <div class="right_section_ins">
    <div class="test-instructions">
      <h2 class="d-block test-instructions__title">Instructions</h2>
      <div>
        <div id="instructions-content">
          <ol>
            <li>
              This is a timed test. Please make sure you are not interrupted
              during the test, as the timer cannot be paused once started.
            </li>
            <li>Please ensure you have a stable internet connection.</li>
          </ol>
        </div>
      </div>
    </div>
    <div class="start_test">
        <a href="{% url 'testpage' challenge_id=challenge.id  c_id=candidate.id %}">
            <button type="button" class="positive_button">Begin Test
              
              </button>
                </a>
    </div>
  </div>

  {% endif %} {% endblock content %}