<!DOCTYPE html>
<html>

<head>
    {% load static %}
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat|Open+Sans|Poppins|Raleway|Roboto+Mono&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.css">
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/content/pariksha_default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/content/pariksha_ace_editor.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'challenge/content/darkmode.css' %}" />
    <script src="{% static 'challenge/scripts/jquery.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{% static 'challenge/scripts/ace.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/mode-java.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/mode-c_cpp.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/theme-monokai.js' %}" type=" text/javascript "></script>
    <script src="{% static 'challenge/scripts/theme-xcode.js' %}" type=" text/javascript "></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.2/jquery-confirm.min.js"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<style>
    .gutter {
        cursor: e-resize;
        height: 100%;
        background-image: url({% static 'img/download.png' %});
        background-position: 50%;
        background-repeat: no-repeat;
        cursor: ew-resize;
        background-color: #fafafa;
    }
</style>

<body>
    <div id="testpage_header">
        <div id="pariksha-logo" class="inline_block">
        </div>
        <div id="timer"></div>
        <div id="right_button"></div>
    </div>
    <div class="contents-wrapper">
        <div class="fs-pains-container">
            <div id="left_pane" class="fs-left-pane split">
                <div id="vertical_navbar_wrapper"></div>
                <div class="left-pane-content-wrapper"></div>
            </div>
            <div id="right_pane" class="fs-right-pane split">
                <div id="top_section">
                    <div class="editor_section_header"> </div>
                    <div class="editor_wrapper">
                        <div class='code-editor' id='codeeditor'></div>
                    </div>
                </div>
                <div id="bottom_section" class="challenge-response fs-container ">
                    <div class="bottom_header_controller">
                        <div class="left_section">
                            <div class="nav_btns">Testcases</div>
                            <div class="nav_btns">CustomInput</div>
                            <div class="nav_btns">Output</div>
                        </div>
                        <div class="right_section">
                            <div>
                                <button type="button">Run</button>
                            </div>
                            <div>
                                <button type="button">Submit</button>
                            </div>
                        </div>
                    </div>
                    <div class="output-area-wrap ">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/split.js/dist/split.min.js "></script>
    <script>
        Split(['#left_pane', '#right_pane'], {
            gutterSize: 6,
            sizes: [40, 60],
            minSize: [200, 600]
        });

        var sizes = localStorage.getItem('split-sizes')

        if (sizes) {
            sizes = JSON.parse(sizes)
        } else {
            sizes = [90, 10] // default sizes
        }

        var split = Split(['#top_section', '#bottom_section'], {
            gutterSize: 5,
            sizes: [90, 10],
            direction: 'vertical',
            minSize: 40,
            sizes: sizes,
            onDragEnd: function(sizes) {
                localStorage.setItem('split-sizes', JSON.stringify(sizes))
            },
        });
    </script>
    <script src="{% static 'challenge/scripts/testpage.js' %} "></script>
    <script src="{% static 'challenge/scripts/notifications.js' %} " type=" text/javascript "></script>

</body>

</html>