::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

 ::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: #505050;
    border-radius: 19px;
}

::-webkit-scrollbar-track {
    border-radius: 21px;
}

::-webkit-scrollbar-track {
    border-radius: 0px;
    border: none;
}
.left-pane-content-wrapper {
    background: #2d2d2dc7 !important;
}

/* Track */


/* Handle */

 ::-webkit-scrollbar-thumb {
    background: #9c9c9c;
    border-radius: 10px;
}


/* Handle on hover */

 ::-webkit-scrollbar-thumb:hover {
    background: #444444;
}

body {
    background-color: rgb(20, 20, 20);
}

.left-pane-content-wrapper_dark {
    background: #242421;
    color: #ddddddc7;
}

.gutter.gutter-horizontal {
    background-color: #141414;
    box-shadow: none;
}

div#vertical_navbar_wrapper {
    min-height: 100%;
    height: fit-content;
    width: 3rem;
    box-shadow: 1px 0 8px #2f2f2f1c;
    background: #141414;
}

div#vertical_navbar_wrapper {
    min-height: 100%;
    height: fit-content;
    width: 3rem;
    box-shadow: 3px 0px 7px 2px #1a1a1ac2;
    background: #141414;
    z-index: 111;
}

.gutter.gutter-vertical {
    background-color: #141414;
}

button {
    background: #10101036;
}

button.run_button:hover {
    background: #452b59;
    color: #adadadeb;
}

div#testpage_header {
    height: 3rem;
    width: 100%;
    background: #141414;
    box-shadow: inset 0 -3px 2px #00000036;
}

button.submit_button {
    color: #ffffff80;
}

.editor_section_header {
    background: #303030;
    color: aliceblue;
}

.bottom_header_controller {
    background: #3030309e;
    color: aliceblue;
}

.nav_btns_active {
    font-weight: 500;
    border-bottom: 4px solid #808080fc;
    transition: 0.3s;
}

button#console_collapse {
    background-color: #3d3d3d54;
    color: aliceblue;
}

select#languages {
    background: #111111c2;
    border: 1px solid #2e2e2e;
    color: white;
}

.output-area-wrap {
    background-color: #242421a6;
}

button#console_collapse:hover {
    background: #121212;
}

.left-pane-content-wrapper {
    background: #1e1e1c;
    color: #f7f7f7a6;
}

li.nav_item_active {
    color: white;
}

.gutter.gutter-vertical {
    background: rgb(17, 17, 17);
}

li.nav_item {
    /* margin: 48px; */
    position: relative;
    cursor: pointer;
    box-shadow: inset 0px -2px 11px #00000063;
}

div#testpage_header {
    height: 3rem;
    width: 100%;
    background: #3c3c3c;
    box-shadow: inset 0 -1px 2px #b3b3b34f;
    z-index: 111111111111111111111111111111111;
}

li.nav_item {
    color: #717171;
    background: none;
}

button.run_button:hover {
    background: #0f8a0f;
    color: #cacacaeb;
    border: none;
}

div#testpage_header {
    height: 3rem;
    width: 100%;
    background: #3c3c3c;
    box-shadow: inset 0 -1px 1px #b3b3b34f;
    z-index: 111111111111111111111111111111111;
}

i.ld {
    font-size: 19px;
    padding: 0 4px;
    color: #b4b4b4;
}

.pretty.p-switch .state:before {
    border-color: #5a5a5a;
}

.pretty.p-switch .state label:after {
    background: #535353!important;
}

.editor_section_header {
    background: #4e4e4e;
    color: aliceblue;
    box-shadow: inset 0 1px 0px #212121f7;
}

div#testpage_header {
    height: 3rem;
    width: 100%;
    background: #3c3c3c;
    box-shadow: inset 0 -2px 0px #9b9b9b94;
    z-index: 111111111111111111111111111111111;
}

.pretty.p-switch.p-fill input:checked~.state:before {
    border-color: #5a656b;
    background-color: #292929d4!important;
}

.pretty.p-switch.p-fill input:checked~.state label:after {
    background-color: rgb(192, 192, 192)!important;
    left: 1em;
}

li.nav_item_active::after {
    background: #28b328d1;
}

.question_title {
    color: #f0f8ffcf;
}

li.nav_item_active::after {
    background: #28b328ba;
}

li.nav_item_active {
    color: #ffffffcf;
}

.top_controller_bar {
    background: #4e4e4e;
}

button.change_q {
    color: cornflowerblue;
    border: none;
    background: #0000007a;
}

button.change_q:hover {
    background: #0052b9eb;
    color: #c5ced2;
    font-weight: 300;
    box-shadow: 1px 0 4px #00085094;
}
div#testpage_header {
    background: #333333;
}
button#finish_button {
    border-color: #af6200;
}

button#finish_button:hover {
    background: #d67600e8;
    font-weight: 100;
}
i#save_btn {
    color: #d6eafb;
}
i#save_btn[status='saved'] {
    color: #d6eafb69;
}
.ace-monokai .ace_comment {
    color: #0eaf21a6;
}
pre#output_result_pre {
    background: #ffffff08;
    padding: 1rem;
    color: #f0f8ffd1;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #00000024;
}
b#type_msg {
    color: #b1b1b1;
}
pre#output_result_pre[status="Error"] {
    color: #bfb4b4;
    font-weight: 600;
    font-family: monospace;
}
h4#status_message {
    color: #989898;
}
pre {
    background: #eaeaea2b !important;
    color: #d4d4d4e0 !important;
}
code {
    background: #eaeaea2b !important;
    color: #d4d4d4e0 !important;
}
.testcase_table_wrapper th {
    background: #191919d4;
    color: #f9f9f99c;
    font-weight: 200;
}

.testcase_table_wrapper td {
    background: #2d2d2d;
    color: #f0f8ffc4;
}
.description span {
    color: #ffffff94;
    letter-spacing: .6px;
}

.description td {
    color: #ffffffa6;
}

.description tbody {
    display: table;
}

.description b {
    color: #ffffffb5 !important;
}

.description font {
    color: #ffffffc7;
    letter-spacing: .6px;
}
div#custom_input_card {
    color: #ffffffa8;
}

textarea#input {
    background: #e2e2e200;
    color: #ffffffd1;
}
div#timer {
    color: aliceblue;
}
div#candidate_name {
    color: #f0f8ffc7;
    font-weight: 100;
}

i#candidate {
    color: #f0f8ffc7;
}
.ace_line {
    color: #ffffffd9;
}
div#home_btn a {
    color: #f0f8ffd6;
    font-weight: 200;
}
.ace_gutter{
    background:#272822 !important;
}
.testcase_table_wrapper td {
    background: #151515;
    color: #f0f8ffb3;
}
.testcase_table_wrapper th {
    background: #1a243ad4;
    color: #f9f9f99c;
    font-weight: 200;
}
div {
    color: #d2d2d2d6;
}