body{
    background: white;
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Lato', sans-serif;
}

header {
    background: #fff;
    height: 5rem;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
header {
    width: 100%;
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
    -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
    transition: transform .15s cubic-bezier(.2,.3,.25,.9);
}
::-webkit-scrollbar {
    width: 8px;
    height:8px;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px white; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #9c9c9c; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #444444; 
  }
@media only screen and (max-height: 768px), screen and (max-width: 640px){
    header {
        height: 4rem;
    }
    }

header .menu_icon {
    background-image: url(https://a.slack-edge.com/80588/img/icn_menu.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 20px;
    display: inline-block;
    margin-right: 1rem;
    background-position: 0 -21px;
    float: left;
}

header .vert_divider {
    height: 2.5rem;
    border-left: 1px solid #d2d2d2;
    display: inline-block;
    margin: 1.25rem 0;
    position: absolute;
    top: 0;
    right: 0;
}

@media only screen and (max-height: 768px), screen and (max-width: 640px){
header .vert_divider {
    margin: .75rem 0;
}
}
#menu_toggle:hover {
    color: #1d9bd1;
    text-decoration: none;
    cursor: pointer;
}
header #menu_toggle {
    display: inline-block;
    height: 5rem;
    color: #616061;
    font-weight: 700;
    padding: 1.8rem 1.7rem 1.6rem 2rem;
    float: left;
    position: relative;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
    -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
    transition: transform .15s cubic-bezier(.2,.3,.25,.9);
}



@media only screen and (max-height: 768px), screen and (max-width: 640px){
header #menu_toggle {
    height: auto;
    padding: 1.4rem;
}
}

header #header_team_name {
    margin-bottom: 0;
    -webkit-transition: -webkit-transform .15s cubic-bezier(.2,.3,.25,.9);
    -moz-transition: -moz-transform .15s cubic-bezier(.2,.3,.25,.9);
    transition: transform .15s cubic-bezier(.2,.3,.25,.9);
}
@media only screen and (max-height: 768px), screen and (max-width: 640px){
    header #header_team_name {
        padding: 0;
        line-height: 1.7rem;
    }
    }
    .inline_block {
        display: inline-block!important;
    }

    html.no_touch header #header_team_name a:hover, html.no_touch header #menu_toggle:hover {
        color: #1d9bd1;
        text-decoration: none;
    }
    div#pariksha-logo {
        max-width: 180px;
        min-width: 80px;
        height: auto;
        padding: 1.4rem;
        position: inherit;
        display: inline-block;
        cursor: pointer;
    }
    #pariksha-logo img{
        width: 100%;
    }
    @media only screen and (max-height: 768px), screen and (max-width: 640px){
header #pariksha-logo {
    height: auto;
    padding: 1rem;
}
    }
    span.logo_label {
        max-width: 450px;
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        color: #616061;
        font-size: 1.4rem;
        font-weight: 700;
        float: left;
        /* padding: 1.4rem 1rem 1rem; */
        margin-bottom: 0;
        cursor: pointer;
    }
    .float_right {
        float: right!important;
    }
     header .header_icons a {
        text-align: center;
        font-size: 1rem;
        color: #616061;
        cursor: pointer;
        display: inline-flex;
        float: left;
        font-weight: 700;
        padding: 1.4rem 1.2rem .6rem;
        line-height: 1.25rem;
        text-decoration: none;
    }
    .header_icons a:hover {
        text-decoration: none;
        color: #1d9bd1;
    }
    .pariksha-admin-management-icons {
        position: absolute;
        right: 0;
        top: 0;
        height: 5rem;
    }
    @media only screen and (max-height: 768px), screen and (max-width: 640px){
header .header_btns .btn_basic, header .header_btns a {
    line-height: 1.2rem;
    padding: .9rem 1rem .4rem;
}
    }

   .vert_divider {
        height: 2.5rem;
        border-left: 1px solid #d2d2d2;
        display: inline-block;
        margin: 1.25rem 0;
        position: absolute;
        top: 0;
        right: 0;
    }
    span.vert_right_divider {
        height: 2.5rem;
        border-left: 1px solid #d2d2d2;
        display: inline-block;
        margin: 1.25rem 0;
        position: absolute;
        top: 0;
        left: 0;
    }
    a#plans_switcher:hover {
        color: #cc2525;
    }
    #page {
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
    @media only screen and (min-width: 1024px){

* {
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
#page_contents {
    width: 1024px;
}
}
@media only screen and (max-height: 768px), screen and (max-width: 640px){
#page_contents {
    padding: 6rem 2rem;
}
}
#page_contents {
    margin: 0 auto;
    padding: 8rem 2rem;
}
body {
    background: white;
    font-family: 'Lato', sans-serif;
    margin: 0px;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .pariksha-admin-management-icons {
    position: absolute;
    left: 15rem;
    top: 0;
    height: 5rem;
}
.pariksha-admin-management-icons-right-pane {
    position: absolute;
    right: 0;
    top: 0;
    height: 5rem;
}
.float_right {
    float: left!important;
}
span.candidate_name:hover {
    color: black;
}
span.candidate_name {
    padding-top: 2px;
    padding-left: 3px;
    font-size: 16px;
}
a#candidate_name:hover {
    color: black;
}
#page_contents {
    margin: 0 auto;
    padding: 5rem 2rem;
    height: 100vh;
}
.home_description {
    width: 20rem;
}
body {
    margin: 0;
    background: #f8f8f8;
    font-size: 1.125rem;
}
.pariksha_steps_card {
    
    margin-top: 2rem;
    width: 100%;
    height: auto;
    background: white;
    border-radius: 1rem;
    border: 1px solid #f1f1f1;
    padding: 3rem 2rem;
}
.image_row {
    position: inherit;
    height: 100%;
}
.image_container {
    border-radius: 2rem;
    display: inline-flex;
    width: 29%;
    box-shadow: 0 1px 4px rgba(0,0,0,.15);
    height: 90%;
    margin: 1rem;
}
.image_container img {
    width: 90%;
    align-items: center;
    height: 100%;
    border-radius: inherit;
}
.image_container:hover {
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.15);
}
.pariksha_steps_card span {
    height: fit-content;
    position: relative;
    bottom: 18%;
    right: 220px;
    top: 240px;
    min-width: 250px;
    align-items: center;
    font-weight: 600;
    letter-spacing: 0.5px;
    padding-left: 4.2rem;
    color: #674ded;
    padding-top: rem;
}
.home_description {
    width: 62rem;
}
a{
    text-decoration: none;
}













body {
    color: #2d2d2d;
}
button.primary_buttons {
    padding: 3px 21px;
    border: 1px solid #004e8c;
    border-radius: 5px;
    background: white;
    color: #004e8c;
    font-weight: 700;
    transition: 0.3s;
}

button.primary_buttons:hover {
    background: #004e8c;
    color: white;
    font-weight: 100;
}
.footer_form_button.floater_right {
    position: relative;
    margin-top: 4rem;
    right: -11rem;
}

a#question_edit_link {
    margin-right: 1rem;
}
.bank_and_contestq_wrapper {
    display: flex;
}

.existing_question_bank_list {
    margin-top: inherit;
    margin-left: 1px;
}


button#save_btn_q {
    background: #0085b7;
}
.existing_question_bank_list {
    overflow: auto;
}
.question_container {
    overflow: auto;
}
.search_bar_wrapper:focus-within {
    border-color: #2196F3;
}

.search_bar_wrapper {
    border-width: 2px;
}
/* div#testpage_header {
    background: #fdfdfd;
} */
button#save_btn_q:disabled {
    cursor: not-allowed;
    background: gray;
}
button#save_btn_q:disabled:hover {
    cursor: not-allowed;
    background: gray;
}

button#save_btn_q:hover {
    background: #3F51B5;
}
.question_content {
    width: 60rem;
    min-width: 55rem;
    margin: auto;
    height: 90vh;
    padding: 3rem;
    overflow: auto;
    background: white;
    margin-top: 1rem;
    margin-bottom: 2rem;
    border-radius: 11px;
}
/* .close_icon {
    width: fit-content;
    margin-left: auto;
    cursor: pointer;
    background: white;
    height: fit-content;
    width: 70%;
    position: absolute;
    margin-top: 1rem;
    border-top-left-radius: 10px;
    margin-left: 4%;
    border-top-right-radius: 10px;
    min-width: 55rem;
    padding: 0.5rem;
} */
.close_icon {
    position: absolute;
    right: 2%;
    top: 3%;
    cursor: pointer;
}
.richText {
    box-shadow: 0px 1px 2px #0000007a;
}
textarea {
    font-size: 14px;
    padding: 6px;
    border-radius: 9px;
}
.footer_form_button.floater_right {
    position: relative;
    margin-top: 4rem;
    right: -8rem;
  }
  div.ioWrap  {
    padding-top: 1rem;
    
}
i#clse-icon {
    position: relative;
    margin-left: auto;
    margin-bottom: auto;
    top: -39px;
    right: -29px;
    cursor: pointer;
}
div.ioWrap {
    padding: 2rem;
    /* box-shadow: inset 1px -1px 6px #00000054; */
    border-radius: .5rem;
    font-size: 14px;
    height: auto;
    display: block;
    border: 1px solid;
    border-color: #c7c7c7;
    margin: 15px 0px;
}
.ioWrap textarea {
    margin: 0 10px;
}

input.tc_input {
    border: none;
    border-radius: 5px;
    border: 1px solid;
    border-color: #0000004f;
    padding: 1px 7px;
    line-height: 2rem;
    font-size: large;
}
.existing_question_bank_list {
    overflow: hidden;
}

div#question_bank_container {
    height: fit-content;
    max-height: calc(100% - 4rem);
}
.label_field_wrapper {
    display: flex;
}

.label_field_wrapper.des_wrap {
    display: block;
}
#page_contents {
    padding: 4rem 2rem;
}
.lrwrapper {
    height: 100%;
    align-items: center;
    position: relative;
}

.left_section_ins {
    width: 55%;
    align-items: center;
    background: white;
    height: 100%;
    padding: 2rem;
}
.lrwrapper {
    margin-top: 1rem;
    box-shadow: 1px 1px 9px #00000029;
}
.duration_q_wrap {
    display: flex;
    height: fit-content;
    position: relative;
    top: 10rem;
}

.duration {
    margin: 0px 37px;
}
.lrwrapper {}

.lrwrapper {
    display: flex;
}

.right_section_ins {
    padding: 2rem;
    width: fit-content;
}
div#page_contents {
    padding-top: 6rem;
}