.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: center;
  }
  .split {
    width:100%;
    height:100%;
    padding: 30px;
  }
  .a {
    background: url("dog1.jpg");
    background-attachment: fixed;
  }
  .b {
    background: url("dog2.jpg");
    background-attachment: fixed;
  }
  .gutter {
    cursor: e-resize;
    height: 100%;
    background: grey;
  }
  .gutter {
    cursor: e-resize;
    height: 100%;
    background: white;
    background-image: url(./download.png);
    background-position: 50%;
    background-repeat: no-repeat;
    cursor: ew-resize;
    box-shadow: inset -4px 0px 13px 0px rgba(0, 0, 0, 0.1);
    width: .8rem !important;

}